
.header{
    display:inline-block;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 55px;
    background-color: rgba(81, 49, 70, 0.9);
}

.titlecontainer{
    display: block;
    position: fixed;
    top:0;
    left:0;
    width: 85%;
    height: 55px;
    line-height: 100%;
    padding: 0 0 0 1%;
}

.titlecontainer h1{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
}

.logocontainer{
    display: block;
    position: fixed;
    top: 0px;
    left: 85%;
    width: 15%;
    height: 55px;
    text-align: right;
}

.logocontainer img{
    top: 5px;
    height: 45px;
    border: 5px solid rgba(81, 49, 70, 0.9);
}

.sidebar{
    position:fixed;
    top: 55px;
    left:0;
    width: 150px;
    height: 100%;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar a{
    display: block;
    text-decoration: none;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding: 10px;
    color: white;
}

body{
    background-image: url("pexels-photo-1236320_bw.jpeg");
    background-size: 100%;
    background-repeat: repeat-y;
    background-color: #ABA5A9;
    margin: 0;
    padding: 0;
}

.underheadercontainer{
    display: inline-block;
    left: 0;
    top: 55px;
    width: 100%;
    margin:0;
}

.contentcontainer{
    float: left;
    display: block;
    margin-left: 150px;
    margin-top: 55px;
    padding: 3% 7% 3% 8.18%;
    width: auto;
}

.textbox{
    display: block;
    background-color: rgba(96, 0, 0, 0.5);
    color: white;
    width: 75%;
    min-width: min-content;
    margin-bottom: 3%;
    padding: 3%;
}

.textbox p, a, li{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
}

.textbox table{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.textbox th,td{
    padding: 5px;
    text-align: left;
}

.textbox img{
    width: 100%;
    padding-bottom: 3%;
}